body, html {
    margin: 0;
    padding: 0;
    background-color: #4bb8b6;
}

header {
    width: 100%;
    height: 90px;
    background-color: #3c2f36;
}

.logo {
    position: absolute;
    width: 10%;
    left: 5%;
    top: 1%;
    background-color: #4a3a43;
    animation-name: anim_logo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes anim_logo {
    0%   {background-color:#67515d; left:-200px; top:1%;}
    50%  {background-color: #110d0f; left:-100px; top: 1%}
    100% {background-color:#67515d; left:5%; top:1%;}
}
li:hover{
    animation-name: anim_menu;
    animation-duration: 2s;
    animation-timing-function: linear;
}
a:hover {
    color: yellow;
    transition: 2s;

}

@keyframes anim_menu {
    0% {background-color: #4bb8b6}
    100% {background-color: #3c2f36}
}

.photo {
    background-image: url("../images/photo_halsey/halsey_turns_back2.png");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


h1 {
    text-align: center;
    font-size: 3em;
}

.about_singer {
    background-color: #265665;
    color: white;
    position: relative;
    margin: 2% 20% 2% 20%;
    padding: 0.1em 5% 2em;
    line-height: 1.5;
    font-size: 1rem;
}

.album {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/photo_halsey/graveyard_cover.jpg");
    height: 608px;
    position: relative;
}

blockquote {
    text-align: center;
}

footer {
    background-color: #3c2f36;
    color: white;
    height: 120px;
    width: 100%;
    text-align: center;
    padding: 1% 0 0;
}


